.hero-7 .hero-form-wrap {
    direction: ltr;
    .btn-wrap {
        direction: rtl;
    }
}
.hero-7 .property-search-form {
    padding: 0;
}
.hero-7 .property-search-form .form-control, .hero-7 .property-search-form .form-select {
    border: 1px solid $border-color;
}
.hero-7 .property-search-form .form-group > i {
    left: auto;
    right: 27px;
}
.hero-7 .single-location .property-card-meta span {
    border-right: 1px solid var(--light-color);
    padding-right: 12px;
    margin-right: 12px;
    &:first-child {
        border: 0;
        padding-right: 0;
        margin-right: 0;
    }
}