/* Home 15 ---------------------------------- */
.hero-style15 {
    .hero-title {
        transform: translate(calc(50% + 60px), 0);
        @include xl {
            transform: translate(50%, 0);
        }
        @include lg {
            transform: none;
        }
    }
    .hero-text {
        text-align: start;
    }
}

.hero-15-search-wrap {
    .property-search-form {
        margin-right: 130px;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        border-left: 1px solid $white-color;
        border-right: 1px solid $white-color;
        @include xxl {
            margin-left: auto;
            margin-right: auto;
        }
        @include xl {
            margin-left: 20px;
            margin-right: 20px;
        }
        .btn-wrap {
            margin-right: auto;
            margin-left: 0;
        }
    }
}

.property-card10 {
    .property-card-meta {
        span {
            border-left: 1px solid rgba($color: #423A2F, $alpha: 0.3);
            border-right: 0;
            padding-left: 34px;
            padding-right: 0;
            margin-left: 34px;
            margin-right: 0;
            @include xxl {
                padding-left: 34px;
                margin-left: 34px;
            }
            @include ml {
                padding-left: 30px;
                margin-left: 30px;
            }
            @include xl {
                border-left: 0;
                padding-left: 0;
                margin-left: 20px;
            }
            &:last-child {
                border-left: 0;
                padding-left: 0;
                margin-left: 0;
            }
        }
    }
}